{
  "openapi": "3.1.0",
  "info": {
    "title": "Unju API",
    "version": "1.0.0",
    "description": "\n# Unju API - Multi-Modal AI Gateway\n\nA comprehensive API gateway for AI services including:\n- **LLM Completions** - OpenAI, Anthropic, Gemini compatible endpoints\n- **Realtime API** - WebSocket-based streaming for voice/text\n- **Media Generation** - Video, image, and audio generation\n- **Agent System** - A2A protocol, agent management, memory\n- **Credits & Billing** - ERC20-style token ledger for usage tracking\n\n## Authentication\n\nAll authenticated endpoints require either:\n- **Bearer Token**: `Authorization: Bearer {api_key}`\n- **API Key Header**: `X-API-Key: {api_key}`\n\n## Rate Limits\n\nRate limits are configured per API key. Check `X-RateLimit-*` headers in responses.\n\n## Credits\n\nUsage is tracked in credits (1 credit ≈ $1 USD). Check balance at `/v1/credits/balance`.\n",
    "contact": {
      "name": "Unju Support",
      "url": "https://unju.ai",
      "email": "support@unju.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.unju.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and status"
    },
    {
      "name": "Auth",
      "description": "Authentication and sessions"
    },
    {
      "name": "Credits",
      "description": "Balance, transactions, and purchases"
    },
    {
      "name": "Keys",
      "description": "API key management"
    },
    {
      "name": "Teams",
      "description": "Team and organization management"
    },
    {
      "name": "Users",
      "description": "User profile and settings"
    },
    {
      "name": "Agents",
      "description": "AI agent management"
    },
    {
      "name": "Conversations",
      "description": "Chat conversations"
    },
    {
      "name": "Completions",
      "description": "LLM chat completions (OpenAI compatible)"
    },
    {
      "name": "Embeddings",
      "description": "Text embeddings"
    },
    {
      "name": "Images",
      "description": "Image generation (OpenAI compatible)"
    },
    {
      "name": "Audio",
      "description": "Speech and transcription"
    },
    {
      "name": "Video",
      "description": "Video generation"
    },
    {
      "name": "Media",
      "description": "Unified media generation"
    },
    {
      "name": "Realtime",
      "description": "WebSocket realtime API"
    },
    {
      "name": "LiveKit",
      "description": "LiveKit token generation"
    },
    {
      "name": "Predictions",
      "description": "Time series forecasting"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol servers"
    },
    {
      "name": "A2A",
      "description": "Agent-to-Agent protocol for task delegation and inter-agent communication"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok"
                    },
                    "version": {
                      "type": "string"
                    },
                    "environment": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "version",
                    "environment"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits/balance": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get credit balance",
        "description": "Returns current balance from ERC20 token ledger with usage summary",
        "responses": {
          "200": {
            "description": "Balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Credit balance response",
                  "ref": "BalanceResponse",
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "number"
                    },
                    "tier": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "FREE"
                        },
                        {
                          "type": "string",
                          "const": "PRO"
                        },
                        {
                          "type": "string",
                          "const": "ENTERPRISE"
                        }
                      ]
                    },
                    "monthly": {
                      "type": "object",
                      "properties": {
                        "spend": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "resetDate": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        }
                      },
                      "required": [
                        "spend",
                        "limit",
                        "resetDate"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "balance",
                    "tier",
                    "monthly"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error response",
                  "ref": "Error",
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits/transactions": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get transaction history",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "type": {
                            "anyOf": [
                              {
                                "type": "string",
                                "const": "PURCHASE"
                              },
                              {
                                "type": "string",
                                "const": "USAGE"
                              },
                              {
                                "type": "string",
                                "const": "REFUND"
                              },
                              {
                                "type": "string",
                                "const": "BONUS"
                              },
                              {
                                "type": "string",
                                "const": "ADJUSTMENT"
                              }
                            ]
                          },
                          "amount": {
                            "type": "number"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "metadata": {
                            "anyOf": [
                              {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          }
                        },
                        "required": [
                          "id",
                          "userId",
                          "type",
                          "amount",
                          "balance",
                          "description",
                          "metadata",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "total": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "offset": {
                      "type": "number"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "transactions",
                    "total",
                    "limit",
                    "offset",
                    "has_more"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits/packages": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "List credit packages",
        "security": [],
        "responses": {
          "200": {
            "description": "Available packages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "packages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "credits": {
                            "type": "number"
                          },
                          "price": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string"
                          },
                          "popular": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "credits",
                          "price",
                          "description",
                          "popular"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "currency": {
                      "type": "string",
                      "const": "USD"
                    }
                  },
                  "required": [
                    "packages",
                    "currency"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits/purchase": {
      "post": {
        "tags": [
          "Credits"
        ],
        "summary": "Create checkout session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "packageId": {
                    "type": "string"
                  },
                  "successUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "packageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "session_id": {
                      "type": "string"
                    },
                    "package": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "credits": {
                          "type": "number"
                        },
                        "price": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "credits",
                        "price"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "checkout_url",
                    "session_id",
                    "package"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/credits/ledger": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get ERC20 token ledger",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mint",
                "burn",
                "transfer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token transfers retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "txHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "mint",
                              "burn",
                              "transfer"
                            ]
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "valueFormatted": {
                            "type": "string"
                          },
                          "memo": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "txHash",
                          "blockNumber",
                          "type",
                          "from",
                          "to",
                          "value",
                          "valueFormatted",
                          "memo",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "transfers"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List API keys",
        "responses": {
          "200": {
            "description": "Keys retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "keyPrefix": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "allowedModels": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "allowedIps": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "rpmLimit": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "tpmLimit": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "maxBudget": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "currentSpend": {
                            "type": "number"
                          },
                          "lastUsedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "expiresAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "revokedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time",
                                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "keyPrefix",
                          "scopes",
                          "allowedModels",
                          "allowedIps",
                          "rpmLimit",
                          "tpmLimit",
                          "maxBudget",
                          "currentSpend",
                          "lastUsedAt",
                          "expiresAt",
                          "createdAt",
                          "revokedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "scopes": {
                    "default": [
                      "*"
                    ],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "allowedModels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "allowedIps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "rpmLimit": {
                    "type": "number"
                  },
                  "tpmLimit": {
                    "type": "number"
                  },
                  "maxBudget": {
                    "type": "number"
                  },
                  "expiresIn": {
                    "type": "number"
                  },
                  "teamId": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "keyPrefix": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "id",
                    "key",
                    "keyPrefix",
                    "name",
                    "createdAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/keys/{keyId}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Get API key details",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "keyPrefix": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "allowedModels": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "allowedIps": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "rpmLimit": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tpmLimit": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "maxBudget": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "currentSpend": {
                      "type": "number"
                    },
                    "lastUsedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "expiresAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "revokedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "keyPrefix",
                    "scopes",
                    "allowedModels",
                    "allowedIps",
                    "rpmLimit",
                    "tpmLimit",
                    "maxBudget",
                    "currentSpend",
                    "lastUsedAt",
                    "expiresAt",
                    "createdAt",
                    "revokedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Revoke API key",
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Success response",
                  "ref": "Success",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Completions"
        ],
        "summary": "Create chat completion",
        "description": "OpenAI-compatible chat completions endpoint. Supports multiple providers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Chat completion request",
                "ref": "CompletionRequest",
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {
                      "description": "Chat message",
                      "ref": "CompletionMessage",
                      "type": "object",
                      "properties": {
                        "role": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "system"
                            },
                            {
                              "type": "string",
                              "const": "user"
                            },
                            {
                              "type": "string",
                              "const": "assistant"
                            }
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "text"
                                      },
                                      "text": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "image_url"
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "properties": {
                                          "url": {
                                            "type": "string"
                                          },
                                          "detail": {
                                            "default": "auto",
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "url"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "const": "image"
                                      },
                                      "source": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "const": "base64"
                                          },
                                          "media_type": {
                                            "type": "string"
                                          },
                                          "data": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "media_type",
                                          "data"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "source"
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        },
                        "name": {
                          "type": "string"
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "const": "function"
                              },
                              "function": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "arguments": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name",
                                  "arguments"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "function"
                            ]
                          }
                        },
                        "tool_call_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "role"
                      ]
                    }
                  },
                  "model": {
                    "type": "string"
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "top_k": {
                    "type": "number"
                  },
                  "max_tokens": {
                    "type": "number"
                  },
                  "stop": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "stream": {
                    "default": false,
                    "type": "boolean"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "function"
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "name"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "function"
                      ]
                    }
                  },
                  "tool_choice": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "none"
                      },
                      {
                        "type": "string",
                        "const": "auto"
                      },
                      {
                        "type": "string",
                        "const": "required"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "function"
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "function"
                        ]
                      }
                    ]
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "json_object",
                          "json_schema"
                        ]
                      },
                      "json_schema": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "schema": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "strict": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "schema"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2
                  },
                  "presence_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2
                  },
                  "seed": {
                    "type": "number"
                  },
                  "user": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion generated",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Chat completion response",
                  "ref": "CompletionResponse",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "chat.completion"
                    },
                    "created": {
                      "type": "number"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "number"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "tool_calls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "const": "function"
                                    },
                                    "function": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "arguments": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "additionalProperties": false
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "type",
                                    "function"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ],
                            "additionalProperties": false
                          },
                          "finish_reason": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "stop",
                                  "length",
                                  "tool_calls",
                                  "content_filter",
                                  "end_turn"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "logprobs": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "content": {
                                    "anyOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "token": {
                                              "type": "string"
                                            },
                                            "logprob": {
                                              "type": "number"
                                            },
                                            "bytes": {
                                              "anyOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "number"
                                                  }
                                                },
                                                {
                                                  "type": "null"
                                                }
                                              ]
                                            }
                                          },
                                          "required": [
                                            "token",
                                            "logprob",
                                            "bytes"
                                          ],
                                          "additionalProperties": false
                                        }
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "content"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "index",
                          "message",
                          "finish_reason"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "number"
                        },
                        "completion_tokens": {
                          "type": "number"
                        },
                        "total_tokens": {
                          "type": "number"
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "number"
                            }
                          },
                          "additionalProperties": false
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "number"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "additionalProperties": false
                    },
                    "system_fingerprint": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "choices"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Create embeddings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Embedding request",
                "ref": "EmbeddingRequest",
                "type": "object",
                "properties": {
                  "input": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      }
                    ]
                  },
                  "model": {
                    "type": "string"
                  },
                  "encoding_format": {
                    "default": "float",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "float"
                      },
                      {
                        "type": "string",
                        "const": "base64"
                      }
                    ]
                  },
                  "dimensions": {
                    "type": "number"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embeddings generated",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Embedding response",
                  "ref": "EmbeddingResponse",
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "const": "embedding"
                          },
                          "index": {
                            "type": "number"
                          },
                          "embedding": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        },
                        "required": [
                          "object",
                          "index",
                          "embedding"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "number"
                        },
                        "total_tokens": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "total_tokens"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "model",
                    "usage"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Generate images",
        "description": "OpenAI-compatible image generation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Image generation request",
                "ref": "ImageGenerateRequest",
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "n": {
                    "default": 1,
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10
                  },
                  "quality": {
                    "default": "standard",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "standard"
                      },
                      {
                        "type": "string",
                        "const": "hd"
                      }
                    ]
                  },
                  "response_format": {
                    "default": "url",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "url"
                      },
                      {
                        "type": "string",
                        "const": "b64_json"
                      }
                    ]
                  },
                  "size": {
                    "default": "1024x1024",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "256x256"
                      },
                      {
                        "type": "string",
                        "const": "512x512"
                      },
                      {
                        "type": "string",
                        "const": "1024x1024"
                      },
                      {
                        "type": "string",
                        "const": "1792x1024"
                      },
                      {
                        "type": "string",
                        "const": "1024x1792"
                      }
                    ]
                  },
                  "style": {
                    "default": "vivid",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "vivid"
                      },
                      {
                        "type": "string",
                        "const": "natural"
                      }
                    ]
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images generated",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Image generation response",
                  "ref": "ImageGenerateResponse",
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "b64_json": {
                            "type": "string"
                          },
                          "revised_prompt": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "created",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Text to speech",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Text-to-speech request",
                "ref": "SpeechRequest",
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "voice": {
                    "default": "alloy",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "alloy"
                      },
                      {
                        "type": "string",
                        "const": "echo"
                      },
                      {
                        "type": "string",
                        "const": "fable"
                      },
                      {
                        "type": "string",
                        "const": "onyx"
                      },
                      {
                        "type": "string",
                        "const": "nova"
                      },
                      {
                        "type": "string",
                        "const": "shimmer"
                      }
                    ]
                  },
                  "response_format": {
                    "default": "mp3",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "mp3"
                      },
                      {
                        "type": "string",
                        "const": "opus"
                      },
                      {
                        "type": "string",
                        "const": "aac"
                      },
                      {
                        "type": "string",
                        "const": "flac"
                      },
                      {
                        "type": "string",
                        "const": "wav"
                      },
                      {
                        "type": "string",
                        "const": "pcm"
                      }
                    ]
                  },
                  "speed": {
                    "default": 1,
                    "type": "number",
                    "minimum": 0.25,
                    "maximum": 4
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio stream",
            "content": {
              "audio/mpeg": {}
            }
          }
        }
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "Audio"
        ],
        "summary": "Transcribe audio",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "description": "Audio transcription request",
                "ref": "TranscriptionRequest",
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "response_format": {
                    "default": "json",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "json"
                      },
                      {
                        "type": "string",
                        "const": "text"
                      },
                      {
                        "type": "string",
                        "const": "srt"
                      },
                      {
                        "type": "string",
                        "const": "verbose_json"
                      },
                      {
                        "type": "string",
                        "const": "vtt"
                      }
                    ]
                  },
                  "temperature": {
                    "default": 0,
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "timestamp_granularities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "word",
                        "segment"
                      ]
                    }
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription result",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Transcription response",
                  "ref": "TranscriptionResponse",
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "task": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "words": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "word": {
                            "type": "string"
                          },
                          "start": {
                            "type": "number"
                          },
                          "end": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "word",
                          "start",
                          "end"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "segments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "seek": {
                            "type": "number"
                          },
                          "start": {
                            "type": "number"
                          },
                          "end": {
                            "type": "number"
                          },
                          "text": {
                            "type": "string"
                          },
                          "tokens": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "temperature": {
                            "type": "number"
                          },
                          "avg_logprob": {
                            "type": "number"
                          },
                          "compression_ratio": {
                            "type": "number"
                          },
                          "no_speech_prob": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "seek",
                          "start",
                          "end",
                          "text",
                          "tokens",
                          "temperature",
                          "avg_logprob",
                          "compression_ratio",
                          "no_speech_prob"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "text"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/generate": {
      "post": {
        "tags": [
          "Video"
        ],
        "summary": "Generate video",
        "description": "Async video generation using Wan 2.1 via Modal",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Video generation request",
                "ref": "VideoGenerateRequest",
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "negative_prompt": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "source_image_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "duration": {
                    "default": 5,
                    "anyOf": [
                      {
                        "type": "number",
                        "const": 3
                      },
                      {
                        "type": "number",
                        "const": 5
                      },
                      {
                        "type": "number",
                        "const": 10
                      }
                    ]
                  },
                  "resolution": {
                    "default": "720p",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "480p"
                      },
                      {
                        "type": "string",
                        "const": "720p"
                      },
                      {
                        "type": "string",
                        "const": "1080p"
                      }
                    ]
                  },
                  "seed": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Video job accepted response",
                  "ref": "VideoJobResponse",
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "PENDING"
                        },
                        {
                          "type": "string",
                          "const": "RUNNING"
                        },
                        {
                          "type": "string",
                          "const": "COMPLETED"
                        },
                        {
                          "type": "string",
                          "const": "FAILED"
                        },
                        {
                          "type": "string",
                          "const": "CANCELLED"
                        }
                      ]
                    },
                    "estimated_credits": {
                      "type": "number"
                    },
                    "estimated_seconds": {
                      "type": "number"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "job_id",
                    "status",
                    "estimated_credits",
                    "estimated_seconds",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/jobs/{jobId}": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "Get video job status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Video job status",
                  "ref": "VideoJobStatus",
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "PENDING"
                        },
                        {
                          "type": "string",
                          "const": "RUNNING"
                        },
                        {
                          "type": "string",
                          "const": "COMPLETED"
                        },
                        {
                          "type": "string",
                          "const": "FAILED"
                        },
                        {
                          "type": "string",
                          "const": "CANCELLED"
                        }
                      ]
                    },
                    "progress": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "estimated_credits": {
                      "type": "number"
                    },
                    "actual_credits": {
                      "type": "number"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "video_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "thumbnail_url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "duration": {
                          "type": "number"
                        },
                        "resolution": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "480p"
                            },
                            {
                              "type": "string",
                              "const": "720p"
                            },
                            {
                              "type": "string",
                              "const": "1080p"
                            }
                          ]
                        },
                        "file_size": {
                          "type": "number"
                        },
                        "credits_used": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "video_url",
                        "duration",
                        "resolution",
                        "file_size",
                        "credits_used"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    "completed_at": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    }
                  },
                  "required": [
                    "job_id",
                    "status",
                    "created_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/predictions/forecast": {
      "post": {
        "tags": [
          "Predictions"
        ],
        "summary": "Time series forecast",
        "description": "TimeGPT-compatible forecasting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Forecast request",
                "ref": "ForecastRequest",
                "type": "object",
                "properties": {
                  "model": {
                    "default": "timegpt-1",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "timegpt-1"
                      },
                      {
                        "type": "string",
                        "const": "timegpt-1-long-horizon"
                      },
                      {
                        "type": "string",
                        "const": "prophet"
                      },
                      {
                        "type": "string",
                        "const": "arima"
                      },
                      {
                        "type": "string",
                        "const": "auto"
                      }
                    ]
                  },
                  "freq": {
                    "default": "D",
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "H"
                      },
                      {
                        "type": "string",
                        "const": "D"
                      },
                      {
                        "type": "string",
                        "const": "W"
                      },
                      {
                        "type": "string",
                        "const": "M"
                      },
                      {
                        "type": "string",
                        "const": "Q"
                      },
                      {
                        "type": "string",
                        "const": "Y"
                      }
                    ]
                  },
                  "fh": {
                    "default": 7,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365
                  },
                  "y": {
                    "description": "Time series data",
                    "ref": "TimeSeriesData",
                    "type": "object",
                    "properties": {
                      "timestamps": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      }
                    },
                    "required": [
                      "timestamps",
                      "values"
                    ]
                  },
                  "X": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  },
                  "level": {
                    "default": [
                      90
                    ],
                    "type": "array",
                    "items": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    }
                  },
                  "finetune_steps": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100
                  }
                },
                "required": [
                  "y"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forecast result",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Forecast response",
                  "ref": "ForecastResponse",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "forecast"
                    },
                    "created": {
                      "type": "number"
                    },
                    "model": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "timegpt-1"
                        },
                        {
                          "type": "string",
                          "const": "timegpt-1-long-horizon"
                        },
                        {
                          "type": "string",
                          "const": "prophet"
                        },
                        {
                          "type": "string",
                          "const": "arima"
                        },
                        {
                          "type": "string",
                          "const": "auto"
                        }
                      ]
                    },
                    "status": {
                      "anyOf": [
                        {
                          "type": "string",
                          "const": "queued"
                        },
                        {
                          "type": "string",
                          "const": "processing"
                        },
                        {
                          "type": "string",
                          "const": "completed"
                        },
                        {
                          "type": "string",
                          "const": "failed"
                        }
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "value": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "lo": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "hi": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "timestamp",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "data_points": {
                          "type": "number"
                        },
                        "horizon": {
                          "type": "number"
                        },
                        "credits_used": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "data_points",
                        "horizon",
                        "credits_used"
                      ],
                      "additionalProperties": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "model",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/predictions/anomaly_detection": {
      "post": {
        "tags": [
          "Predictions"
        ],
        "summary": "Anomaly detection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Anomaly detection request",
[...]
